body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
}

.submit-button {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 15px 32px; /* Отступы */
    text-align: center; /* Центровка текста */
    text-decoration: none; /* Убрать подчеркивание */
    display: inline-block; /* Сделать элементом строчно-блочным */
    font-size: 16px; /* Размер текста */
    margin: 4px 2px; /* Отступы */
    cursor: pointer; /* Указатель при наведении */
    border: none; /* Убрать рамку */
    border-radius: 12px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.submit-button:hover {
    background-color: #265e28; /* Темно-зеленый фон при наведении */
}

h2 {
    margin-top: 20px;
}

nav {
    margin-top: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}
